@font-face {
    font-family: 'icons';
    src:url('../assets/font/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/batch-icons-webfont.woff') format('woff'),
    url('../assets/font/batch-icons-webfont.ttf') format('truetype'),
    url('../assets/font/batch-icons-webfont.svg#batchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
textarea:focus, input:focus, button {
    outline: none;
}
button {
    cursor: hand;
}
.icon {
    font-family:"icons", fantasy; /*or whatever you've decalred your font name as*/
    line-height:1;
    display:inline-block;
    padding: 0.4em 0.4em;
    border: 0;
    font-size: 1em;
    background-color: #fca;
    color: #833;
    float: right;
    margin: 0em 0.2em;
    box-shadow:none;
    border-radius: 0.7em;
    cursor: hand;
    font-weight: bold;
    text-align: center;
}
.icon span.label {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 0.8em;
    vertical-align: center;
}

body {
    background-color: #4a4a4a;
    font-family: Helvetica;
    font-size: 1em;
    color: #ccc;
}
a:link, a:visited {
    text-decoration: none;
    color: #446;
}
a:hover {
    text-decoration: underline;
}
.action span, .preview, .listen span, .bitrate span, .plays, .played span.date, .created span.date, .duration span {
    background-color: #aaa;
    border: none;
    border-radius: 1.2em;
    padding: 0.1em;
}

.preview, .action span, .duration span {
    padding: 0.1em 0.4em;
    display: table-cell;
}
.preview a:visited, .preview a:link, .action a:visited, .action a:link {
    color: #fff;
}

table {
    border: 1px dotted #446;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    width: 100%;
    max-width: 60em;
}
table th {
    text-align: left;
    font-weight: normal;
    background-color: #ccc;
    color: #444;
    padding: 0.1em 0.4em;
    font-size: 0.7em;
}
table td {
    padding: 0.2em;
    border-bottom: 1px dotted #446;
}
td.preview, td.action {
    width: 2em;
}
td.title {
    width: auto;
}
td.type {
    width: 6em;
}
tr.title th {
    background-color: #833;
    color: #fa4;
}
tr.pwd .action span, tr.prompt .action span {
    background-color: #fca;
    color: #833;
}
.hide td {
    display: none;
}
tr.no-matches {
    display: none;
}
.search-match td {
    display: table-cell;
}
.grayout {
    opacity: 0.5;
}
.trigger {

}
.no-cache td .trigger {
    border-bottom: 1px dotted #a44;
}
span:empty {
    display: none;
}
.bitrate span, .played span.date, .plays, .created span.date {
    font-size: 0.7em;
    padding: 0.1em 0.4em;
}
.title .plays {
    float: right;
}
.created span.date, .bitrate span, .wav .bitrate span, .duration span {
    background-color: #000;
    color: #eee;
    opacity: 0.20;
}
.type span {
    color: #fff;
    background-color: #000;
    opacity: 0.20;
}
.preview, .action, .plays {
    background-color: #aaa;
    color: #fff;
}
.ogg .preview, .ogg .plays, .ogg .action span, .ogg .played span.date {
    background-color: #4d4;
    color: #cfc;
}
.mp3 .preview, .mp3 .plays, .mp3 .action span, .mp3 .played span.date {
    background-color: #f4f;
    color: #fdf;
}
.wav .preview, .wav .plays, .wav .action span, .wav .played span.date {
    background-color: #fa4;
    color: #ffc;
}
.ogg .file {
    color: #959;
}
.mp3 .file {
    color: #959;
}
.wav .file {
    color: #964;
}
.action.active span.active {
    display: inline;
    padding: 0.1em 0.8em 0.1em 0.8em;
    color: #afa;
    background-color: #383;
}
.action.active span.actionType {
    display: none;
}
.action span.active {
    display: none;
}
.action span.actionType {
    display: inline;
}


tr.directory td, tr.summary td {
    background-color: #cfcfdd;
}
tr.file td {
    height: 2em;
}
tr.file:nth-child(odd) {
    opacity: 0.95;
}
tr.file:nth-child(even)	{
    opacity: 1;
}

tr.directory:hover td {
    background-color: #9f9faf;
    color: #eef;
}
.directory .title {
    padding-top: 0.5em;
    color: #334;
    font-weight: bold;
}
td.title {
    min-width: 20em;
}

.file span {
}
tr.root td {
    background-color: #888;
}
tr.root a:visited, tr.root a:link {
    color: #eee;
}
tr.ogg td {
    background-color: #ada;
    color: #484;
}
tr:hover td a:link, tr:hover td a:visited, tr:hover td a:link span, tr:hover td a:visited span {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
tr.ogg:hover td {
    color: #ada;
    background-color: #484;
}
tr.mp3 td {
    background-color: #ebe;
    color: #a6a;
}
tr.mp3:hover td {
    color: #ebe;
    background-color: #a6a;
}
tr.wav td {
    background-color: #d8d8cc;
    color: #aa6;
}
tr.wav:hover td  {
    color: #d8d8cc;
    background-color: #aa6;
}
tr.pwd th, tr.root th, tr.prompt td {
    padding: 0.4em 0.2em;
    background-color: #a44;
    color: #fff;
    font-size: 1em;
    font-weight: bold;

}
.amount {
    background-color: #888;
    color: #ccc;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}
.summary {
    color: #444;
}
.summary .amount, .pwd .amount {
    color: #efe;
    background-color: #f4f;
}
.pwd {
    margin-top: -0.5em;
}
.left {
    float: left;
}
.right {
    float: right;
}
.prompt {
    color: #ffa;
}
tr.prompt td {
    background-color: #943;
}
.depth2 td:first-child {
    padding-left: 1em;
}
.quota.hit {
    color: #8e8;
}
.quota.hit {
    color: #f88;
}
.quota-violation-repetition .action span, .quota-violation-repetition .played span.date {
    background-color: #c44;
    color: #faa;
}
td.action {
    text-align: left;
}
td.action span {
    float: right;
}
tr.directory.active td {
    background-color: #ddd;
}
tr.directory .action span {
    padding: 0 0.75em;
}

tr.directory .action button.icon {
    background: none;
    color : #000;
    opacity: 0.25;
}
tr.directory .action button::after {
    content : "\F098";
}
tr.directory.active .action button::after {
    content : "\F099";
}
input[type="text"]
{
    padding: 0.6em 0.4em;
    border: 0;
    min-width: 40em;
    width: auto;
    font-size: 1em;
    background-color: #fca;
    color: #833;
    box-shadow:none;
    border-radius: 0.7em;
    cursor: hand;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    tr.file td.title {
        font-size: 1.8em;
    }
    tr.file td.action, tr.file td.duration, tr.file td.type {
        font-size: 1.6em;
    }
    tr.file td.date span.date {
        display: none;
    }
    tr.file td.bitrate span.bitrate {
        display: none;
    }
}